section.doc-context {
    --font-size: 19px;

    .btn-focus {
        font-size: var(--font-size);
        font-weight: bold;
        color: var(--b3-theme-primary);
        cursor: pointer;
    }

    ol {
        font-size: var(--font-size);

        --column: 3;

        &[data-is-mobile="false"] {
            column-gap: 30px;
            column-count: var(--column);
        }

        &[data-is-mobile="true"] {
            --column: 1 column-count: var(--column);
            column-gap: 10px;
        }
    }

    .outline-container>ul {
        margin-top: 0.5em;
    }

    .outline-container ul {
        list-style-type: disc;
        font-size: var(--font-size);
    }

    span.anchor {
        cursor: pointer;
        color: var(--b3-theme-primary);
        padding: 1px 2px;

        &:hover {
            background-color: var(--b3-theme-primary-lightest);
        }
    }
}